.clc1{
    display: flex;
    flex-direction: row;
    height: 100px;
    align-items: center;
    /* border: 5px solid rgb(241, 142, 142); */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    /* margin: auto; */
    margin: 1rem 1rem 14px 1rem;
    cursor: pointer;
    /* width: 100vh; */
}
.clc1img{
    padding: 10px;
    height: 100%;
    width: 100px;
}

.clc1n1{
    width: 80%;
    display: flex;
    
    margin-left: 10px;
    
}

.clc1btn{
    display: flex;
   
    justify-content: center;
    height: 40px;
    width: 200px;
    margin:10px;
}