.homecontainer{
    display: flex;
    flex-direction:column;
    margin: 0;
    padding: 0;
}
.first{
    padding: 0;
    height: 10vh;
    background-color: aquamarine;
}
.second{ 
    padding: 0;
    height: 90vh;
    background-color:navajowhite;
    background-image: url('../Assets/welcome_page.png');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.secondtitle{
    background-color: rgb(22, 111, 111);
    font-size: 20px;
    font-weight: bold;
    height: auto;
    position: relative;
    top:45%;
    width: 50%;
    margin-left: 10%;
    opacity: 0.8;
    padding: 1.5rem;
    border-radius: 1.25%;

}
.homeBtn{
    box-sizing: border-box;
    font-weight: bold;
    position: relative;
    cursor: pointer;
    border: none;
    display: inline-block;
    
    text-align: center;
    margin: 0 10px;
    min-width: 64px;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 4px;
   
    background-color:khaki
}

.homeBtn:hover{
    background-color: beige;
}