.loginsecondcont{
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    text-align: center;
    width: 40%;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    margin: auto;
    padding: 1rem 1rem 14px 1rem;
}
.LoginCont{
    
    padding: 10% 0 0 0; 
}

.loginbox{
    display: flex;
    flex-direction: column;
    align-items: center;
}