.profile-container {
  margin-top: 50px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
  /* margin: auto; */
  padding: 1rem 1rem 14px 1rem;
  }
  
  /* .profile-wrapper {
    background-color: #f5f5f5;
    padding: 20px;
  } */
  
  .profile-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
  }
  
  .logout-button {
    background-color: #ff69b4;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-left: 10px;
  }
  
  .profile-section {
    display: flex;
  }
  
  .profile-image {
    height: 250px;
    width: 200px;
    object-fit: cover;
    display: inline-block;
    /* padding: 1rem; */
    border-radius: 8px;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    
  }
  
  .profile-details {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    
   
  }
  
  .profile-name {
    color: #ff69b4;
    margin: 20px 0;
  }
  
  .profile-info {
    color: rgb(109, 137, 182);
    margin: 5px 0;
  }
  